<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>김소정의 TMI 대잔치</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>김소정의 TMI월드에 오신것을 환영합니다.</h1>
        <br>
        {% for sojeong in blogs %}
            <h1>{{sojeong.title}}</h1>
            <!-- <p>{{sojeong.body}}</p> -->
            <p>{{sojeong.summary}} <a href="{%url 'detail'%}">...more</a></p>
        {% endfor %}
    </div>    
</body>
</html>